.ServiceCommentCard-container {
  max-width: 560px;
  height: 116;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 18px 28px;
  background-color: white;
  border-radius: 15px;

  p {
    width: 380px;
    font-weight: 700;
  }
}
